<div class="card state-card clickable" *ngIf="task">
  <div class="card-body">
    <div class="btn-group right-btns">
      <button class="btn btn-info btn-sm" (click)="editButtonPressed()">
        <span class="oi oi-pencil" title="Edit Task" aria-hidden="true"></span>
      </button>
      <button class="btn btn-secondary btn-sm" (click)="deleteButtonPressed()">
        <span class="oi oi-trash" title="Delete Task" aria-hidden="true"></span>
      </button>
    </div>
    <h5 class="card-title">{{task.TaskName}}</h5>
    <p class="card-subtitle mb-2 text-muted">Estimated time: {{task.EstimatedHours}} hour/s</p>
    <p class="card-text">{{task.Description}}</p>
  </div>
</div>
