.state-card {
  background-color: #ebebe8;
  -moz-box-shadow:    1px 1px 1px 1px #333;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  box-shadow:         1px 1px 1px 1px #333;
}

.state-card p {
  font-size: 13px;
}

.right-btns {
  float: right;
}