.state-col{
  border: 1px solid #ccc;
  min-height: 500px;
  padding: 20px;
}

.state-title {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.well {
  background-color: #ebebe8;
  padding: 10px;
  border-radius: 4px;
  -moz-box-shadow:    inset 0 0 1px #333;
  -webkit-box-shadow: inset 0 0 1px #333;
  box-shadow:         inset 0 0 1px #333;
}

.well > h6 {
  font-weight: 600;
}

.time {
  font-size: 11px;
}

.ng-valid.ng-touched[required], .ng-valid.ng-touched.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid.ng-touched:not(form)  {
  border-left: 5px solid #a94442; /* red */
}