<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <button (click)="onNewButtonPressed()" class="btn btn-primary" style="float: right;"><span class="oi oi-plus"></span></button>
      <h4>Tasks</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h6 class="state-title">Planned: {{tasks | sumStateHours:'Planned'}} hs</h6>
      <div class="state-col" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, 'Planned')">
        <task-card (onDeleteButtonPressed)="onDeleteButtonPressed($event)" (onEditButtonPressed)="onEditButtonPressed($event)" dndEffectAllowed="move" *ngFor="let task of tasks | filterBy: { State:'Planned' }" [task]="task" [dndDraggable]="task"></task-card>
      </div>
    </div>
    <div class="col-4">
      <h6 class="state-title">In progress: {{tasks | sumStateHours:'In progress'}} hs</h6>
      <div class="state-col" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, 'In progress')">
        <task-card (onDeleteButtonPressed)="onDeleteButtonPressed($event)" (onEditButtonPressed)="onEditButtonPressed($event)" dndEffectAllowed="move" *ngFor="let task of tasks | filterBy: { State:'In progress' }" [task]="task" [dndDraggable]="task"></task-card>
      </div>
    </div>
    <div class="col-4">
      <h6 class="state-title">Completed: {{tasks | sumStateHours:'Completed'}} hs</h6>
      <div class="state-col" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, 'Completed')">
        <task-card (onDeleteButtonPressed)="onDeleteButtonPressed($event)" (onEditButtonPressed)="onEditButtonPressed($event)" dndEffectAllowed="move" *ngFor="let task of tasks | filterBy: { State:'Completed' }" [task]="task" [dndDraggable]="task"></task-card>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #deleteConfirmationModal identifier="deleteConfirmationModal">
  <div *ngIf="selectedTask">
    <div class="modal-body">
      <h6>Are you sure you want to delete following task?</h6> 
      <br />
      <div class="well">
        <h6>{{selectedTask.TaskName}}</h6>
        <p class="time">Estimated time: {{selectedTask.EstimatedHours}} hour/s</p>
        <p>{{selectedTask.Description}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="deleteConfirmationModal.close()">Cancel</button>
      <button type="button" class="btn btn-warning" (click)="deleteTask()">Yes, delete</button>
    </div>
  </div>
</ngx-smart-modal>


<ngx-smart-modal identifier="saveTaskModal" #saveTaskModal>
  <form (submit)="saveTask(form)" #form="ngForm">
    <div *ngIf="selectedTask">
      <div class="modal-body">
        <h5>Task</h5>
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="TaskName" class="form-control" id="TaskName" [(ngModel)]="selectedTask.TaskName" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" name="Description" id="Description" [(ngModel)]="selectedTask.Description" required></textarea>
        </div>
        <div class="form-group">
          <label>Estimated Hours</label>
          <input type="number" class="form-control" name="EstimatedHours" id="EstimatedHours" [(ngModel)]="selectedTask.EstimatedHours" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="saveTaskModal.close()">Cancel</button>
        <button type="submit" class="btn btn-success" >Save</button>
      </div>
    </div>
  </form>
</ngx-smart-modal>